/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css';

/* Add your custom styles or overrides below */
/* For example, you can define global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color:darkgray;
  /* Add more global styles */
}
.slideshow-container{
  max-width: 80%;
  margin: auto;
  
  display: flex;
  }

  /* In your CSS file or style block */

.slideshow-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.slideshow-button:hover {
  background-color: #2980b9;
}

/* CSS file for styling project cards and modal */

/* Project Cards */
.project-card {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal-dialog {
  max-width: 800px;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-body {
  font-size: 16px;
}

.modal-footer {
  justify-content: center;
  border-top: none;
}
